@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Rubik", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}
h2 {
  font-family: "Raleway", Arial, sans-serif ;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-display: swap;
}
.filter .title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}
.sorting .sorting-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}
h3 {
  font-family: "Raleway", Arial, sans-serif ;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.main-header {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-nav {
  position: relative;
  margin-top: 40px;
  padding-top: 35px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #f7e296;


}
.main-logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  align-items: center;
  justify-content: space-around;
}
.search-form {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 440px;
  justify-content: start;
}


.rare-delivery {
  width: 1160px;
  height: 100px;
  background-color: #f0f0f0;
}
.subscrube {
  background-color: #f0f0f0;
}

.main-footer {
  background-color: #444444;
}

.service {
  background-color: #444444;
}
.user-nav {
  font-family: "Rubik", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex-end;

}
.site-navigation {
  font-family: "Rubik", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.site-navigation-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}


.category-item-title {
  width: 160px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;

}
a {
  text-decoration: none;
  color: #000000;
 }
 a:hover {
  text-decoration: none;
 }


.section-box {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
 .category-list {
   margin-bottom: 165px;
   display:flex;
   justify-content: space-between;

  }

.category-item {
    margin: 0;
    margin-top: 10px;
    color: #000;
}


.products-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
  background-color: #FFE17F;
}
.products-item-monopod .products-item-image {

  justify-content: flex-end;
}
